body{
    background-repeat: no-repeat;
    background-image: url("https://wallpapercave.com/wp/wp4690604.jpg");
    background-size: auto auto;
    opacity: 0.9;
    
  }
.jumbotron{
    background-color: darkcyan;
    color: floralwhite;
}

 #nav1{
    margin-top: -3%;
 }

 #logo{
     float: right;
     height: 100px;
     width: auto;
     margin-top: -2%; 
}

#bio{
    text-align: center;
    color: black;
    background-color: white;
    opacity: 0.7;
    font-size: 600%;
    margin-left: -5%;
    margin-right: -5%;
    height: 855px;
    padding: 20%;
}

#span1{
    text-align: center;
    color: black;
    background-color: white;
    font-size: 60%;
}


#projects{
    background-color: lightslategrey;
    width: 1500px;
    height: 350px;
    margin-top: -0.5%;
    position: relative;
    top: 0; right: 0; bottom: 0; left: 0;
    
}

#img1{
    width: 53%;
    height: auto;
    margin-top: 50px;
    margin-left: 75px;
    display: inline-block;
}

#projects-heading{
    text-align: center;
    color: white;
    padding-right: 6%;
    
}

.contact-section-header{
    text-align: center;
}

.contact-links{
    text-align: center;
}